<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/page-title') %>
</head>
<body>
    <%- include('partials/navbar-seller', {usernameLogged}) %>
    <% if(usernameLogged) { %>
        <div class="container">
            <div>
                <form action="/" method="get">
                    <input type="text" name="keyword" placeholder="Search by product name" value=''>
                    <input type="submit" value="Search">
                </form>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Picture</th>
                        <th>Price</th>
                        <th>Stock</th>
                        <th>Last Updated</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% items.forEach(item => { %>
                        <tr>
                            <th><%= item.name %></th>
                            <th><img src="<%= item.imageURL %>" alt=""></th>
                            <th><%= numberWithCommas(item.price)  %></th>
                            <th><%= item.stock %></th>
                            <th><%= timeDifference(item.updatedAt) %></th>
                            <th>
                                <a href="/item/update/<%= item.id %>">Update</a>
                                <a href="/item/delete/<%= item.id %>">Delete</a>
                            </th>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    <% } else { %>
        <div class="container">
            <div>
                <form action="/" method="get">
                    <input type="text" name="keyword" placeholder="Search by product name" value=''>
                    <input type="submit" value="Search">
                </form>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Picture</th>
                        <th>Price</th>
                        <th>Stock</th>
                    </tr>
                </thead>
                <tbody>
                    <% items.forEach(item => { %>
                        <tr>
                            <th><%= item.name %></th>
                            <th><img src="<%= item.imageURL %>" alt=""></th>
                            <th><%= numberWithCommas(item.price) %></th>
                            <th><%= item.stock %></th>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    <% } %>
    

</body>
</html>