<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/page-title') %>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <%- include('partials/navbar-seller', {usernameLogged}) %>
    <% if(usernameLogged) { %>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-auto">
                    <form action="/" method="get">
                        <input type="text" name="keyword" placeholder="Search by product name" value=''>
                        <input type="submit" value="Search">
                    </form>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Picture</th>
                        <th>Price</th>
                        <th>Stock</th>
                        <th>Last Updated</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% items.forEach(item => { %>
                        <tr>
                            <th><%= item.name %></th>
                            <th><img src="<%= item.imageURL %>" alt="" height="196" weight="240"></th>
                            <th><%= numberWithCommas(item.price)  %></th>
                            <th><%= item.stock %></th>
                            <th><%= timeDifference(item.updatedAt) %></th>
                            <th>
                                <a href="/item/update/<%= item.id %>">Update</a>
                                <a href="/item/delete/<%= item.id %>">Delete</a>
                            </th>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    <% } else { %>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-auto">
                    <form action="/" method="get">
                        <input type="text" name="keyword" placeholder="Search by product name" value=''>
                        <input type="submit" value="Search">
                    </form>
                </div>
            </div>
            <div class="row">
                <% items.forEach(item => { %>
                <div class="col-md-4">
                    <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="<%= item.imageURL %>" height="196" width="240"></a>
                        <figcaption class="info-wrap">
                            <div class="row">
                                <div class="col-md-8"> <a href="#" class="title" data-abc="true"><%= item.name %></a> </div>
                            </div>
                        </figcaption>
                        <div class="bottom-wrap"> <a href="/login" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                            <div class="price-wrap"> <span class="price h5"><%= numberWithCommas(item.price) %></span> <br> <small class="text-success">Free shipping</small> </div>
                        </div>
                    </figure>
                </div>
                <% }) %>
            </div>
            
        </div>
    <% } %>
    <%- include('partials/footer') %>

</body>
</html>